<nav id="nav-top"
    class="navbar navbar-dark font-weight-bold navbar-expand-lg w-100 {{#if fixed-top}}position-absolute bg-dark{{/if}}"
    style={{#if fixed-top}} "top:0; left:0; z-index: 11;  opacity: 0.9;" {{else}} "background: #222222" {{/if}}>

    <a class="navbar-brand" href="/">
        <img src="/images/logo-web.png" class="rounded float-left" alt="..." width="45" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            <li class="nav-item active active-danger ">
                <a class="nav-link" href="/">Trang Chủ<span class="sr-only">(current)</span></a>
            </li>
            {{#each lcCategories}}
            <li class="nav-item dropdown active">
                {{#if this.children.length}}
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/category"
                    role="button">{{this.element.Name}}</a>
                <div class="dropdown-menu bg-dark border-top-0">
                    <a class="dropdown-item set-dropdown-item" href="/category/{{this.element.CatID}}">Tất Cả</a>
                    {{#each this.children as |childValue childKey|}}
                    <a class="dropdown-item set-dropdown-item" href="/category/{{childValue.CatID}}">{{childValue.Name}}</a>
                    {{/each}}
                </div>
                {{else}}
                    <a class="nav-link" href="/category/{{this.element.CatID}}">{{this.element.Name}}<span class="sr-only">(current)</span></a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        <span class="navbar-text d-block p-0">
            {{#if isAuthenticated}}
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    <img {{#if authUser.Avatar}} src="{{authUser.Avatar}}" {{else}} src="/images/no-image.png" {{/if}}
                        width="25px" height="25px">
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    <a href="/dashboard" class="btn text-dark dropdown-item">Thông tin cá nhân</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript: $('#formLogOut').submit()" class="btn text-dark dropdown-item">Đăng xuất</a>
                </div>
            </div>
            {{else}}
            <a href="/login">
                Đăng Nhập/ Đăng Ký
            </a>
            {{/if}}


        </span>
    </span>
</nav>
<form action="/logout" method="post" id="formLogOut"></form>