{{#section 'css'}}
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/nav-left.css">
{{/section}}
{{#section 'js'}}
<script src="/js/manager.js"></script>
{{/section}}
<!-- Nav Top -->
{{> nav-dashboard}}

<!-- Content -->
<div id="content" class="p-3" style="background:#F1F1F1; overflow-y: scroll;">
    <h3>Danh Sách Bài Viết</h3>
    <hr>
    <!-- Them Nguoi Dung -->
    <div class="">
        <a class="btn btn-primary mr-3" href="/dashboard/list-post/add" role="button">
            <i class="fas fa-pen"></i>
            Đăng Bài Viết
        </a>
    </div>
    <!-- Loc + Tim Kiem + So Trang -->
    <form action="" method="GET">
        <div class="d-flex justify-content-between mt-3">

            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="inputPassword2" class="mr-3">Trạng Thái</label>
                    <select name="Status" class="form-control" id="exampleFormControlSelect1"
                        onchange="this.form.submit()">
                        <option value="4" {{#ifEquals status '4' }} selected {{/ifEquals}}>Tất Cả</option>
                        <option value="2" {{#ifEquals status '2' }} selected {{/ifEquals}}>Đã Xuất Bản</option>
                        <option value="3" {{#ifEquals status '3' }} selected {{/ifEquals}}>Chờ Xuất Bản</option>
                        <option value="1" {{#ifEquals status '1' }} selected {{/ifEquals}}>Chưa Kiểm Duyệt</option>
                        <option value="0" {{#ifEquals status '0' }} selected {{/ifEquals}}>Bị Từ Chối</option>
                    </select>
                </div>
            </div>
            <div class="form-inline">
                <form method="GET">
                    <div class="form-group mb-2">
                        <label for="inputPassword2" class="sr-only">Tìm Kiếm</label>
                        <input name="Search" type="text" class="form-control" id="inputPassword2" placeholder="Tìm Kiếm"
                            name="search" value="{{search}}">
                        <div class="row btn-group">
                            <button class="btn btn-primary pl-3 pr-3" type="submit">Go</button>
                            <a class="btn btn-danger" href="/dashboard/list-post" role="button">Clear</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-inline d-md-block d-none">
                <div class="form-group mb-2">
                    <label for="inputPassword2" class="mr-3 d-md-block d-none">SL Tài Khoản</label>
                    <select name="Limit" class="form-control" id="exampleFormControlSelect1"
                        onchange="this.form.submit()">
                        <option value="10" {{#ifEquals limit '10' }} selected {{/ifEquals}}>10</option>
                        <option value="25" {{#ifEquals limit '25' }} selected {{/ifEquals}}>25</option>
                        <option value="50" {{#ifEquals limit '50' }} selected {{/ifEquals}}>50</option>
                        <option value="100" {{#ifEquals limit '100' }} selected {{/ifEquals}}>100</option>
                    </select>
                </div>
            </div>

        </div>
    </form>
    <!-- Dành Sách Bài Viết -->
    <table class="table table-bordered table-responsive table-hover bg-white">
        <thead>
            <tr>
                <th class="text-center" style="width: 2%" scope="col">TT</th>
                <th class="text-center" style="width: 8%" scope="col">Ảnh</th>
                <th class="text-center" style="width: 40%" scope="col">Tiêu Đề</th>
                <th class="text-center" style="width: 10%" scope="col">Danh Mục</th>
                <th class="text-center" style="width: 10%" scope="col">Ngày Đăng</th>
                <th class="text-center" style="width: 10%" scope="col">Bình Luận</th>
                <th class="text-center" style="width: 10%" scope="col">Tác Giả</th>
                <th class="text-center" style="width: 10%" scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <th class="text-center align-middle" scope="row">
                    <!-- bi tu choi -->
                    {{#ifEquals Approve '0' }}
                    <i class="fas fa-times-circle text-danger"></i>
                    {{/ifEquals}}
                    <!-- dang cho duyet -->
                    {{#ifEquals Approve '1' }}
                    <i class="fas fa-clock text-warning"></i>
                    {{/ifEquals}}

                    {{#ifEquals Approve '2' }}
                    <!-- chua cho xuat ban-->
                    {{#if this.NotYet}}
                    <i class="fas fa-minus-circle text-info"></i>
                    {{else}}
                    <i class="fas fa-check-circle text-success"></i>

                    {{/if}}
                    {{/ifEquals}}
                </th>
                <td class="text-center align-middle">
                    <img {{#if URLImage}}
                         src="{{URLImage}}" 
                    {{else}}
                         src="/images/no-image-available.jpg" 
                    {{/if}}
                    
                         class="rounded mx-auto d-block" alt="..." width="100%">
                </td>
                <td class="align-middle">
                    <a {{#ifEquals Approve '2'}} 
                    {{#if this.NotYet}} 
                    {{else}} 
                      href="/post?id={{PostID}}"
                    {{/if}} 
                  
                        {{/ifEquals}} class="font-weight-bold " target="_blank" rel="noopener noreferrer">{{Title}}</a>
                </td>
                <td class="text-center align-middle">{{CateName}}</td>
                <td class="text-center align-middle">{{DatePost}}</td>
                <td class="text-center align-middle">{{count}}</td>
                <td class="text-center align-middle">{{Username}}</td>
                <td class="text-center align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a {{#ifEquals Approve '0'}} href="/dashboard/list-post/{{PostID}}/edit" class="btn btn-info"
                            {{else}} {{#ifEquals Approve '1'}} href="/dashboard/list-post/{{PostID}}/edit"
                            class="btn btn-info" {{else}} class="btn btn-info disabled" href="#" {{/ifEquals}}
                            {{/ifEquals}}>Sửa</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModalCenter1" data-tagid='{{PostID}}'>Xóa</button>
                    </div>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a class="page-link" {{#ifEquals pagePre '0'}} {{else}}
                    href="/dashboard/list-post?Status={{status}}&Search={{search}}&Limit={{limit}}&page={{pagePre}}"
                    {{/ifEquals}} aria-disabled="true">Previous</a>
            </li>
            {{#each pages as |page|}}
            {{#if active}}
            <li class="page-item active">

                <a class="page-link"
                    href="/dashboard/list-post?Status={{../status}}&Search={{../search}}&Limit={{../limit}}&page={{page.value}}">{{page.value}}<span
                        class="sr-only">(current)</span></a>
            </li>
            {{else}}
            <li class="page-item"><a class="page-link"
                    href="/dashboard/list-post?Status={{../status}}&Search={{../search}}&Limit={{../limit}}&page={{page.value}}">{{page.value}}</a>
            </li>
            {{/if}}
            {{/each}}

            <li class="page-item ">
                <a class="page-link" {{#ifEquals pageNext '0'}} {{else}}
                    href="/dashboard/list-post?Status={{status}}&Search={{search}}&Limit={{limit}}&page={{pageNext}}"
                    {{/ifEquals}}>Next</a>
            </li>

        </ul>
    </nav>
</div>

<!-- Modal Xóa -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác Nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nó chứa ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-50">Có</button>
                <button type="button" class="btn btn-danger w-50" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>