{{#section 'css'}}
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/style.css">
{{/section}}

{{#section 'js'}}
<script>
    var Page = 1;
    $("#btnXemThem").click(function () {
        $.ajax({
            url: '/ajax-get-posts',
            type: "POST",
            data: {
                Page: Page
            },
            success: function (data, status, jqXHR) {
                ++Page;
                console.log();
                data.forEach(element => {
                    var htmlIsPremium = "";
                    if(element.isPremium){
                        htmlIsPremium = `<span href="/post" class="btn badge badge-info text-white"> <i class="fas fa-star"></i> Premium</span>`;
                    }

                    var htmlListTag = "";
                    element.ListTag.forEach(valueTag =>{
                        htmlListTag += ` <a href="/tag/${valueTag.ID}" class="btn badge badge-danger text-white ">${valueTag.Name}</a>`;
                    });

                    var html = `<li class="list-group-item list-group-item-action">
                    <div class="card border-0">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <a href="/post?id=${element.PostID}" class="">
                                    <img src="${element.URLImage}" class="card-img img-fluid " alt="...">
                                </a>
                                <div class="position-absolute " style="top:0%; left: 3%">
                                    <a class="badge badge-danger  text-white text-decoration-none "
                                        href="/category/${element.CatID}">${element.CatName}</a>
                                </div>
                                ${htmlIsPremium}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="/post?id=${element.PostID}"
                                        class="h5 card-title font-weight-bold text-justify text-hover-red text-my-dark">${element.Title}</a>
                                    <p class="card-text text-justify">${element.Abstract}</p>
                                    <p class="card-text">
                                        <small class="font-weight-bold"><span
                                                class="text-danger">${element.NickName}</span> - ${element.DatePost}</small>
                                    </p>
                                    <p class="card-text">
                                        ${htmlListTag}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>`;
                    console.log(element);
                    $("#ListNewPosts").html($("#ListNewPosts").html() + html);
                });
            }
        });
    });

</script>
{{/section}}


<header>
    <!-- Menu Top + Slide Main -->
    {{> nav  fixed-top=true}}

    <!-- Slide - Main -->
    <div id="carouselExampleIndicators" class="carousel slide" style=" padding-bottom: 3rem;" data-ride="carousel">
        <!-- Indicators - Slide Main-->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>

        <!-- Slide - Slide Main-->
        <div class="carousel-inner">
            {{#each this.impressPost}}
            <a href="/post?id={{PostID}}" class="carousel-item {{active}}">
                <img class="d-block w-100 img-fluid" src="{{URLImage}}" style="height:800px"
                    alt="First slide">
                <div class="carousel-caption text-left w-100 bg-dark-linear-gradient h-50 p-0 justify-content-center d-md-block d-flex"
                    style="left:0; bottom:0;">
                    <div class="position-absolute  px-md-5 px-3" style="bottom: 5px">
                        <h1 class="font-weight-bold text-reponsive">{{Title}}</h1>
                        <p class="d-none d-md-block">
                            <span class="px-2 py-1 bg-danger text-white">{{CatName}}</span> - {{DatePost}}
                        </p>
                    </div>
                </div>
            </a>
            {{/each}}           
        </div>

        <!-- Click Move Page - Slide Main-->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
            style="z-index: 10;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
            style="z-index: 10;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<main class="container">
    <!-- 2 big card -->
    <div class="row no-gutters md-mb-1 mb-1 ">
        <!-- The first big card -->
        <div class="col-md no-gutters col-12">
            <div class="card bg-dark text-white zoom_content  border-0" style="border-radius: unset; ">
                {{#with this.top10PostByView.[0]}}   
                    <a href="/post?id={{PostID}}" title="title-link" class="">
                    <img class="w-100" src="{{URLImage}}" alt="" height="350px" 
                        title="title-image" style="background-size:cover;" />
                    <div class="card-img-overlay bg-dark-linear-gradient text-white" style="top:unset;">
                        <div class=" font-weight-bold testOfnewest pr-3">{{Title}}
                        </div>
                        <small class="font-weight-bold"><span class="text-danger">{{NickName}}</span> - {{DatePost}}</small>
                    </div>
                    </a>
                
                    <div class="position-absolute " style="top:0%; left: 3%">
                        <a class="badge badge-danger  text-white text-decoration-none " href="/category/{{CatID}}">{{CatName}}</a>
                    </div>
                {{/with}}
            </div>
        </div>

        <div style="width:3px;"></div>

        <div class="col-md no-gutters col-12">
            <div class="card bg-dark text-white zoom_content  border-0" style="border-radius: unset; ">
                {{#with this.top10PostByView.[1]}}   
                    <a href="/post?id={{PostID}}" title="title-link" class="">
                    <img class="w-100" src="{{URLImage}}" alt="" height="350px" 
                        title="title-image" style="background-size:cover;" />
                    <div class="card-img-overlay bg-dark-linear-gradient text-white" style="top:unset;">
                        <div class=" font-weight-bold testOfnewest pr-3">{{Title}}
                        </div>
                        <small class="font-weight-bold"><span class="text-danger">{{NickName}}</span> - {{DatePost}}</small>
                    </div>
                    </a>
                
                    <div class="position-absolute " style="top:0%; left: 3%">
                        <a class="badge badge-danger  text-white text-decoration-none " href="/category/{{CatID}}">{{CatName}}</a>
                    </div>
                {{/with}}
            </div>
        </div>

    </div>

    <!-- Slide show  - 3 images -->
    <div id="demo" class="carousel slide d-md-block d-none" data-ride="carousel">

        <!-- The slideshow - 3 images -->
        
        <div class="carousel-inner">
            {{#each this.matrixTop10View}}
            <div class="carousel-item {{active}}">
                <div class="row">
                    {{#each child}}
                    <div class="col-md-4">
                        <div class="card bg-dark text-white zoom_content  border-0" style="border-radius: unset;">
                            
                            <a href="/post?id={{PostID}}" title="title-link" class="">
                                <img class="w-100" src="{{URLImage}}" alt="" height="200px"
                                    title="title-image" style="background-size:cover;" />
                                <div class="card-img-overlay bg-dark-linear-gradient text-white" style="top:unset;">
                                    <div class=" font-weight-bold testOfnewest pr-3">{{Title}}
                                    </div>
                                    <small class="font-weight-bold"><span class="text-danger">{{NickName}}</span> - {{DatePost}}</small>
                                </div>
                                </a>
                            
                                <div class="position-absolute " style="top:0%; left: 3%">
                                    <a class="badge badge-danger  text-white text-decoration-none " href="/category/{{CatID}}">{{this.CatName}}</a>
                                </div>
                        </div>
                    </div>                   
                    {{/each}}                                           
                </div>
            </div> 
            {{/each}}
            
           
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <!-- Slide show  - 1 images -->
    <div id="demo1" class="carousel slide d-md-none d-block " data-ride="carousel">
        <div class="carousel-inner">
            <!-- 1 -->
            {{#each this.top10PostByView}}
            <div class="carousel-item {{active}}">
                <div class="col-md no-gutters col-12">
                    <div class="card bg-dark text-white zoom_content  border-0" style="border-radius: unset;">
                        <a href="/post?id={{PostID}}" title="title-link">
                            <img class="img-fluid" src="{{URLImage}}"
                                alt="" title="title-image" />
                            <div class="card-img-overlay bg-dark-linear-gradient text-white" style="top:unset;">
                                <div class="font-weight-bold text-reponsive-small">{{Title}}</div>
                                <small class="font-weight-bold d-none d-md-block"><span class="text-danger">{{NickName}}</span>{{DatePost}}</small>
                            </div>
                        </a>

                        <div class="position-absolute " style="top:0%; left: 3%">
                            <a class="badge badge-danger  text-white text-decoration-none " href="/category/{{CatID}}">{{CatName}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
        <a class="carousel-control-prev" href="#demo1" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- Title -->
    <div class="h3 p-1 pl-3 mt-3 d-block rounded"
        style="border-left: 5px solid red; background: #E9ECEF;font-weight: bold;">Bài Viết Mới Nhất</div>

    <!-- Danh Sach Bài Viết + Quảng Cáo -->
    <div class="row">
        <!-- Danh Sach Bài Viết -->
        <div class="col-sm-9 col-md-9">
            <!-- List Bai Viêt -->
            <ul class="list-group list-group-flush" id="ListNewPosts">
                {{#each ListNewsPost}}
                <li class="list-group-item list-group-item-action">
                    <div class="card border-0">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <a href="/post?id={{this.PostID}}" class="">
                                    <img src="{{this.URLImage}}" class="card-img w-100" height="150px" alt="...">
                                </a>
                                <div class="position-absolute " style="top:0%; left: 3%">
                                    <a class="badge badge-danger  text-white text-decoration-none "
                                        href="/category/{{this.CatID}}">{{this.CatName}}</a>
                                </div>
                                {{#if this.isPremium}}
                                <span href="/post" class="btn badge badge-info text-white">
                                    <i class="fas fa-star"></i> Premium
                                </span>
                                {{/if}}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="/post?id={{this.PostID}}"
                                        class="h5 card-title font-weight-bold text-justify text-hover-red text-my-dark">{{this.Title}}</a>
                                    <p class="card-text text-justify">{{this.Abstract}}</p>
                                    <p class="card-text">
                                        <small class="font-weight-bold"><span
                                                class="text-danger">{{this.NickName}}</span> - {{this.DatePost}}</small>
                                    </p>
                                    <p class="card-text">
                                        {{#each this.ListTag}}
                                        <a href="/tag/{{ID}}" class="btn badge badge-danger text-white ">{{Name}}</a>
                                        {{/each}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>

            <!-- Btn Xem Them -->
            <div class="text-center">
                <button type="button" class="btn btn-danger my-3" id="btnXemThem">Xem Thêm </button>
            </div>
        </div>

        <!-- Box Tìm Kiếm + Quảng Cáo-->
        <div class="col-sm-3 col-md-3 d-none d-md-block">
            <div class="my-3 ">
                <form action="search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="content" placeholder="Tìm Kiếm">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <a
                href="http://dotkich.vtcgame.vn/tin-tuc/chi-tu-15-vcoin-so-huu-ngay-quai-thu-bien-hinh-hot-nhat-dot-kich-23853-1">
                <img src="http://game8.vn/media/201904/files/300X600.jpg?fbclid=IwAR3KRxPypOWrpdMb42_dP2NxJNQGFDAlcW3zwM0mEjdqkAebKbFrUvXy8jI"
                    class="img-fluid" alt="Responsive image">
            </a>
            <a
                href="http://dotkich.vtcgame.vn/tin-tuc/chi-tu-15-vcoin-so-huu-ngay-quai-thu-bien-hinh-hot-nhat-dot-kich-23853-1">
                <img src="http://game8.vn/media/201904/images/tungtq/300x600.jpg?fbclid=IwAR0-ji-uGB4wVLMdJNtJ_QiWd-K9OHp2VLOrfu8uDbrqm0uzzl2Ea3h3qSs"
                    class="img-fluid mt-3" alt="Responsive image">
            </a>
        </div>
    </div>
</main>

<footer class="" style="background: #222222">
    <!-- Slide show  - 5 images -->
    <div id="nav-bottom-5" class="carousel slide d-xl-block d-none p-3" data-ride="carousel">

        <!-- The slideshow - 5 images -->
        <div class="carousel-inner ">
            {{#each this.matrixNewest }}
            <div class="carousel-item {{active}}">
                <div class="row">
                    {{#each this.child}}
                    <div class="col">
                        <div class="card bg-dark text-white zoom  border-0" style="border-radius: unset;">
                            <a href="/post?id={{PostID}}" title="title-link">
                                <img class="w-100" src="{{URLImage}}" height="200px"
                                    alt="" title="title-image" />
                                <div class="card-img-overlay bg-dark-linear-gradient text-white" style="top:unset;">
                                    <div class=" font-weight-bold text-reponsive-small">{{Title}}
                                    </div>
                                    <small class="font-weight-bold"><span class="text-danger">{{NickName}}</span> -
                                        {{DatePost}}</small>
                                </div>
                            </a>

                            <div class="position-absolute " style="top:0%; left: 3%">
                                <a class="badge badge-danger  text-white text-decoration-none "
                                    href="/category/{{CatID}}">{{CatName}}</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
            
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#nav-bottom-5" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#nav-bottom-5" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <!-- Slide show  - 1 images -->
    <div id="nav-bottom-1" class="carousel slide d-xl-none d-block p-3" data-ride="carousel">
        <div class="carousel-inner">
            <!-- 1 -->
            {{#each this.newestPost}}
            <div class="carousel-item {{active}}">
                <div class="col-md no-gutters col-12">
                    <div class="card bg-dark text-white zoom border-0" style="border-radius: unset;">
                        <a href="/post?id={{PostID}}" title="title-link">
                            <img class="img-fluid" src="{{URLImage}}"
                                alt="" title="title-image" />
                            <div class="card-img-overlay bg-dark-linear-gradient text-white" style="top:unset;">
                                <div class="font-weight-bold text-reponsive-small">{{Title}}</div>
                                <small class="font-weight-bold d-none d-md-block"><span class="text-danger">{{NickName}}</span>
                                    {{DatePost}}</small>
                            </div>
                        </a>

                        <a>

                        <div class="position-absolute " style="top:0%; left: 3%">
                            <a class="badge badge-danger  text-white text-decoration-none " href="/category/{{CatID}}">{{CatName}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            

        </div>
        <a class="carousel-control-prev" href="#nav-bottom-1" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#nav-bottom-1" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


    <!-- Quote -->
    {{> quote}}
</footer>


<script>
    window.onload = function () {
        // Xet Nav-Top
        var widthDevice = $(window).width();
        if (widthDevice <= 425) {
            $("#nav-top").removeClass("position-absolute");
        }
    }
</script>