{{#section 'css'}}
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/nav-left.css">
{{/section}}

{{#section 'js'}}
<script src="/js/manager.js"></script>
<script>
    $('#exampleModalCenter1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-footer #formModal').attr("action", `/dashboard/user/${recipient}/delete`);
    })
</script>
{{/section}}

<!-- Nav Top -->
{{> nav-dashboard}}

<!-- Content -->
<div id="content" class="p-3" style="background:#F1F1F1; overflow-y: scroll;">
    <h3>Danh Sách Người Dùng</h3>
    <hr>

    <!-- Them Nguoi Dung -->
    <div class="">
        <a class="btn btn-primary mr-3" href="/dashboard/user/add" role="button">
            <i class="fas fa-user-plus"></i>
            Thêm Người Dùng
        </a>
    </div>

    <!-- Loc + Tim Kiem + So Trang -->
    <div class="mt-3">
        <form action="" method="get" class="d-flex justify-content-between">
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="inputPassword2" class="mr-3 d-md-block d-none">Vai Trò</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="type"
                        onchange="this.form.submit()">
                        <option value="-1" {{#ifEquals TypeSelected '-1' }}selected{{/ifEquals}}>Tất Cả</option>
                        <option value="0" {{#ifEquals TypeSelected '0' }}selected{{/ifEquals}}>Độc Giả</option>
                        <option value="1" {{#ifEquals TypeSelected '1' }}selected{{/ifEquals}}>Phóng Viên</option>
                        <option value="2" {{#ifEquals TypeSelected '2' }}selected{{/ifEquals}}>Biên Tập Viên</option>
                        <option value="3" {{#ifEquals TypeSelected '3' }}selected{{/ifEquals}}>Quản Trị Viên</option>
                    </select>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="inputPassword2" class="sr-only">Tìm Kiếm</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Tìm Kiếm" name="search"
                        value="{{TextSearch}}">
                    <div class="row btn-group">
                        <button class="btn btn-primary pl-3 pr-3" type="submit">Go</button>
                        <a class="btn btn-danger" href="/dashboard/user?type=-1&search=&pageShow=10"
                            role="button">Clear</a>
                    </div>
                </div>
            </div>
            <div class="form-inline d-md-block d-none">
                <div class="form-group mb-2">
                    <label for="inputPassword2" class="mr-3 d-md-block d-none">SL Tài Khoản</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="pageShow"
                        onchange="this.form.submit()">
                        <option value="10" {{#ifEquals TotalPageSelected '10' }}selected{{/ifEquals}}>10</option>
                        <option value="25" {{#ifEquals TotalPageSelected '25' }}selected{{/ifEquals}}>25</option>
                        <option value="50" {{#ifEquals TotalPageSelected '50' }}selected{{/ifEquals}}>50</option>
                        <option value="100" {{#ifEquals TotalPageSelected '100' }}selected{{/ifEquals}}>100</option>
                    </select>
                </div>
            </div>
        </form>
    </div>



    <!-- Dành Sách Bài Viết -->
    <table class="table table-bordered table-responsive-sm table-hover bg-white">
        <thead>
            <tr>
                <th class="text-center" style="width: 20%" scope="col">Tài Khoản</th>
                <th class="text-center" style="width: 20%" scope="col">Tên</th>
                <th class="text-center" style="width: 20%" scope="col">Email</th>
                <th class="text-center" style="width: 15%" scope="col">Vai Trò</th>
                <th class="text-center" style="width: 5%" scope="col">Bài Viết</th>
                <th class="text-center" style="width: 7%" scope="col">Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataUser }}
            <tr>
                <th class="text-center align-middle" scope="row">
                    {{Username}}
                </th>
                <td class="text-center align-middle">
                    {{FullName}}
                </td>
                <td class="text-center align-middle">
                    {{Email}}
                </td>
                <td class="text-center align-middle">{{Role}}</td>
                <td class="text-center align-middle">{{cPosts}}</td>
                <td class="text-center align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info" href="/dashboard/user/{{AccID}}/edit" role="button">Sửa</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModalCenter1" data-whatever="{{AccID}}">Xóa</button>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination justify-content-center">
            {{#if Paging.prePage}}
            <li class="page-item">
                <a class="page-link"
                    href="/dashboard/user?type={{../TypeSelected}}&search={{../TextSearch}}&pageShow={{../TotalPageSelected}}&page={{Paging.prePage}}">Previous</a>
            </li>
            {{else}}
                <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
            {{/if}}

            {{#each Paging.Pages}}
            <li class="page-item"><a class="page-link"
                    href="/dashboard/user?type={{../TypeSelected}}&search={{../TextSearch}}&pageShow={{../TotalPageSelected}}&page={{this}}">{{this}}</a>
            </li>
            {{/each}}

            {{#if Paging.nextPage}}
            <li class="page-item">
                <a class="page-link"
                    href="/dashboard/user?type={{../TypeSelected}}&search={{../TextSearch}}&pageShow={{../TotalPageSelected}}&page={{Paging.nextPage}}">Next</a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {{/if}}

        </ul>
    </nav>
</div>

<!-- Modal Xóa -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác Nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nó chứa ?</p>
            </div>
            <div class="modal-footer">
                <form action="" method="post" id="formModal" class="d-block w-100 btn-group">
                    <button type="submit" class="btn btn-primary w-50 ">Có</button><button type="button"
                        class="btn btn-danger w-50" data-dismiss="modal">Không</button>
                </form>
            </div>
        </div>
    </div>
</div>