{{#section 'css'}}
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/nav-left.css">
{{/section}}

{{#section 'js'}}
<script src="/js/manager.js"></script>
{{/section}}

<!-- Nav Top -->
{{> nav-dashboard}}


<!-- Content -->
<div id="content" class="p-3" style="background:#F1F1F1; overflow-y: scroll;">
    <h3>Danh Sách Tài Khoản Gia Hạn</h3>
    <hr>

    <!-- Loc + Tim Kiem + So Trang -->
    <div class="mt-3">
        <form action="" method="get" class="d-flex justify-content-between">
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label name ="xxxxx" for="inputPassword2" class="mr-3 d-md-block d-none">Nhà cung cấp</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="productBy" onchange="this.form.submit()">
                        <option value="tat-ca"  {{#ifEquals produce "tat-ca"}}
                                selected
                            {{/ifEquals}} >Tất cả</option>
                        <option value="Viettel"  {{#ifEquals produce "Viettel"}}
                                selected
                            {{/ifEquals}} >Viettel</option>
                        <option value="Mobifone" {{#ifEquals produce "Mobifone"}}
                                selected
                            {{/ifEquals}}
                             >Mobifone</option>
                        <option value="Vietnammobile" {{#ifEquals produce "Vietnammobile"}}
                                selected
                            {{/ifEquals}}>Vietnammobile</option>
                        <option value="Vinaphone" {{#ifEquals produce "Vinaphone"}}
                                selected
                            {{/ifEquals}}>Vinaphone</option>
                    </select>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="inputPassword2" class="sr-only">Tìm Kiếm</label>
                    <input value="{{search}}" type="text" class="form-control" id="inputPassword2" placeholder="Tìm Kiếm" name="search">
                    <div class="row btn-group">
                        <button class="btn btn-primary pl-3 pr-3" type="submit">Go</button>
                        <a class="btn btn-danger" href="/dashboard/card" role="button">Clear</a>
                    </div>
                </div>
            </div>
        </form>

        <!--
         <div class="form-inline d-md-block d-none">
            <div class="form-group mb-2">
                <label for="inputPassword2" class="mr-3 d-md-block d-none">SL Tài Khoản</label>
                <form name="tableForm" method="get" action="/dashboard/card">
                    <select class="form-control" name="page">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
        
         -->

    </div>



    <!-- Dành Sách Bài Viết -->
    {{#if this.Err}}
    <div class="alert alert-danger" role="alert">
<<<<<<< HEAD
        Invalid<a href="/dashboard/card" class="alert-link">Go Back</a>
=======
        Invalid<a href="/" class="alert-link">Go Back</a>
>>>>>>> master
    </div>
    {{else}}
    <table class="table table-bordered table-responsive-sm table-hover bg-white">
        <thead>
            <tr>
                <th class="text-center" style="width: 15%" scope="col">Tài Khoản</th>
                <th class="text-center" style="width: 15%" scope="col">Nhà cung cấp</th>
                <th class="text-center" style="width: 10%" scope="col">Giá trị</th>
                <th class="text-center" style="width: 15%" scope="col">Mã Seri</th>
                <th class="text-center" style="width: 15%" scope="col">Mã Pin</th>
                <th class="text-center" style="width: 10%" scope="col">Chức Năng</th>
            </tr>
        </thead>
        <tbody>

            {{#each cards}}
            <tr>
                <th class="text-center align-middle" scope="row">
                    <p name="account">{{Username}}</p>
                </th>
                <td class="text-center align-middle">
                    <p name="ProductBy">{{ProductBy}}</p>
                </td>
                <td class="text-center align-middle">
                    <p name="Value">{{format Value}}</p>
                </td>
                <td class="text-center align-middle">{{Seri}}</td>
                <td class="text-center align-middle">{{Pin}}</td>
                <td class="text-center align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form action="/dashboard/card/GiaHan" method="POST">
                            <input name="CardID" value="{{CardID}}" type="hidden">
                            <button class="btn btn-info" type="submit" role="button">Gia hạn</button>
                            <button type="submit" formaction="/dashboard/card/Xoa" class="btn btn-danger">Xóa</a>
                        </form>

                    </div>
                </td>
            </tr>
            {{/each}}




        </tbody>
    </table>
    <!-- Pagination -->
    <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a class="page-link" href="?page={{pagePre}}" aria-disabled="true">Previous</a>
            </li>
            {{#each this.pages}}
            {{#if active}}
            <li class="page-item active">
                <a class="page-link" href="?page={{value}}">{{value}}<span class="sr-only">(current)</span></a>
            </li>
            {{else}}
            <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
            {{/if}}
            {{/each}}

            <li class="page-item ">
                <a class="page-link" href="?page={{pageNext}}">Next</a>
            </li>

        </ul>
    </nav>
    {{/if}}


</div>
