{{#section 'css'}}
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/nav-left.css">
{{/section}}

{{#section 'js'}}
<script src="/js/manager.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $("#form").validate({
        rules: {
            name: {
                required: true,
                remote: '/dashboard/tag/is-available'

            }
        },
        messages: {
            name: {
                required: "Không được bỏ trống",
                remote: 'Thẻ tag đã tồn tại'
            }
        },
        errorElement: 'small',
        errorClass: 'help-block text-danger',
        highlight: (e) => {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: (e) => {
            $(e).addClass('is-valid').removeClass('is-invalid');
        }
    });
    $("#form_chinhsua").validate({
        rules: {
            name: {
                required: true,

                remote: {
                    url: '/dashboard/tag/is-available',
                    type: "get",
                    data: {
                        username: function () {
                            return $("#ID_edit").val();
                        }
                    }
                }
            }
        },
        messages: {
            name: {
                required: "Không được bỏ trống",
                remote: 'Thẻ tag đã tồn tại'
            }
        },
        errorElement: 'small',
        errorClass: 'help-block text-danger',
        highlight: (e) => {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: (e) => {
            $(e).addClass('is-valid').removeClass('is-invalid');
        }
    });

    $('#exampleModalCenter').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget) // Button that triggered the modal
        var tagid = button.data('tagid');
        var name = button.data('name');
        var des = button.data('des');

        // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        //modal.find('.modal-footer #formModal').attr("action", `/dashboard/user/${recipient}/delete`);

        $('#name_edit').val(name);

        $('#oldname_edit').val(name);

        $('#des_edit').val(des);
        $('#ID_edit').val(tagid);

    });
    $('#exampleModalCenter1').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget) // Button that triggered the modal


        // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        var tagid = button.data('tagid');
        $('#id_delete').val(tagid);
        console.log(tagid);
    });
</script>
{{/section}}

<!-- Nav Top -->
{{> nav-dashboard}}

<!-- Content -->
<div id="content" class="pl-md-3 pt-3 pb-md-3" style="background:#F1F1F1; overflow-y: scroll;">
    <h3 class="pl-3 pl-md-0">Quản Lý Thẻ</h3>
    <hr>
    <div class="row m-0">
        <!-- Them Thẻ -->
        <div class="col-md-3 col-12">
            <h6>Thêm Thẻ</h6>
            <form id="form" method="POST" action="/dashboard/tag/add">
                <div class="form-group">
                    <label for="formGroupExampleInput">Tên Thẻ</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Mô tả</label>
                    <textarea name="des" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-block">Thêm Thẻ</button>
                </div>
            </form>
        </div>

        <!-- List Thẻ -->
        <div class="col-md-9 col-12 mt-3">
            <div>
                <h6 class="d-block d-md-inline-block">Thẻ</h6>
                <div class="form-inline float-right mr-3">
                    <form method="GET">
                        <div class="form-group mb-2">
                            <label for="inputPassword2" class="sr-only">Tìm Kiếm</label>
                            <input type="text" class="form-control" id="inputPassword2" placeholder="Tìm Kiếm"
                                value="{{search}}" name="search">
                            <div class="row btn-group">
                                <button class="btn btn-primary pl-3 pr-3" type="submit">Go</button>
                                <a class="btn btn-danger" href="/dashboard/tag" role="button">Clear</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Dành Sách Bài Viết -->

            {{#if this.Err}}
            <div class="alert alert-danger" role="alert">
                Invalid<a href="/dashboard/tag" class="alert-link">Go Back</a>
            </div>
            {{else}}
            <tbody>
                <table
                    class="table table-bordered table-striped table-sm  table-responsive-sm table-hover mt-3 bg-white">
                    <thead>
                        <tr class="bg-info text-light">
                            <th class="text-center" style="width: 30%" scope="col">Tên</th>
                            <th class="text-center" style="width: 50%" scope="col">Mô Tả</th>
                            <th class="text-center" style="width: 10%" scope="col">Chức năng</th>
                        </tr>
                    </thead>
                    {{#each tags }}
                    <tr>
                        <th class="text-center align-middle" scope="row">
                            {{Name}}
                        </th>
                        <td class="text-center align-middle">
                            {{Desciption}}
                        </td>
                        <td class="text-center align-middle">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#exampleModalCenter" data-tagid='{{TagID}}' data-name='{{Name}}'
                                    data-des='{{Desciption}}'>Sửa</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModalCenter1" data-tagid='{{TagID}}'>Xóa</button>
                            </div>
                        </td>
                    </tr>
                    {{/each}}

            </tbody>

            {{/if}}

            </table>
            <!-- Pagination -->
            <nav aria-label="Page navigation example" class="mt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item ">
                        <a class="page-link" <a class="page-link" {{#ifEquals pagePre '0'}} {{else}}
                            href="?search={{../search}}&page={{pagePre}}" {{/ifEquals}} aria-disabled="true">Previous</a>
                    </li>
                    {{#each this.pages}}
                    {{#if active}}
                    <li class="page-item active">
                        <a class="page-link" href="?search={{../search}}&page={{value}}">{{value}}<span
                                class="sr-only">(current)</span></a>
                    </li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?search={{../search}}&page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}

                    <li class="page-item ">
                        <a class="page-link" {{#ifEquals pageNext '0'}} {{else}}
                            href="?search={{search}}&page={{pageNext}}" {{/ifEquals}}>Next</a>
                    </li>

                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- Modal Sửa  -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chỉnh sửa Thẻ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="form_chinhsua" action="/dashboard/tag/edit">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Mã thẻ</label>
                        <input name="ID" id="ID_edit" readonly type="text" class="form-control">
                    </div>
                    <div class="form-group">

                        <label for="formGroupExampleInput">Tên Thẻ</label>
                        <input name="name" type="text" class="form-control" id="name_edit" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Mô tả</label>
                        <textarea name="des" class="form-control" id="des_edit" rows="3"></textarea>
                    </div>
                    <div>
                        <button id="btn" type="submit" class="btn btn-primary btn-block">Xác Nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Xóa -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác Nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nó chứa ?</p>
            </div>

            <form method="POST" class="modal-footer" name="form_delete" action="/dashboard/tag/delete">
                <input id="id_delete" name="id_delete" hidden>
                <button type="submit" id="btn_x" class="btn btn-primary w-50">Có</button>
                <button type="button" class="btn btn-danger w-50" data-dismiss="modal">Không</button>
            </form>
        </div>
    </div>
</div>
</div>